# Flutter build and intermediate files
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# IDE-specific
.idea/
.vscode/
*.iml

# iOS-specific
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/ephemeral/

# Android-specific
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties

# MacOS-specific
macos/Flutter/ephemeral/
macos/.generated/
macos/Pods/
macos/Runner.xcworkspace

# Web-specific
web/.dart_tool/

# Linux-specific
linux/flutter/ephemeral/
linux/.dart_tool/

# Windows-specific
windows/flutter/ephemeral/
windows/.dart_tool/

# Desktop build output
build/

# Others
*.log
